<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Year started</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    @if (isLoading()) {
      <div class="spin-wrapper">
        <div class="spinner secondary"></div>
      </div>
    }
    @if (!isLoading()) {
      @for (data of searchData(); track data.id) {
        <tr>
          <td data-label="Name">{{ data.name }}</td>
          <td data-label="Country">{{ data.country }}</td>
          <td data-label="Year started">{{ data.start_date | date: 'yyyy' }}</td>
          <td data-label="Status">{{ data.status }}</td>
          <td data-label="Actions">
            <span class="icon-info"></span>
            <span class="icon-bookmark"></span>
            <span class="icon-link"></span>
          </td>
        </tr>
      }
    }
  </tbody>
</table>
