<table>
  @if ($tv_shows | async; as tv_shows) {
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Status</th>
        <th>Year started</th>
        <th>Actions</th>
      </tr>
    </thead>
    @for (tv_show of tv_shows; track tv_show.id) {
      <tbody>
        <tr>
          <td data-label="Name">{{ tv_show.name }}</td>
          <td data-label="Country">{{ tv_show.country }}</td>
          <td data-label="Year started">{{ tv_show.start_date | date: 'yyyy' }}</td>
          <td data-label="Status">{{ tv_show.status }}</td>
          <td data-label="Actions">
            <span class="icon-info"></span>
            <span class="icon-bookmark highlight"></span>
            <span class="icon-link"></span>
          </td>
        </tr>
      </tbody>
    }
  }
</table>
